.button1, .button2, .button3{
    display: block;
    margin-bottom:10px;
    height:40px;
}
.button1{
    font-weight: 900;
    width: 110px;
    border-radius: 20px;
    color: limegreen;
    border: 2px solid limegreen;
    background-color: #fff;
}

.button2{
    width: 40px;
    background-color: #00d1b2;
    color: #fff;
    border-radius: 50%;
    border: none;

}

.button3{
    width: 160px;
    background-color: #2b78e4d3;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px black;
}